---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.compass.logo %}
        <div class="logo-container">
          <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
        </div>
        {% endif %}

        {% if site.compass.author %}
        <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
        {% endif %}

        {% if site.compass.tagline %}
        <div class="tagline-container"><p>{{ site.compass.tagline }}</p></div>
        {% endif %}
    </header>
    <main>
      {% if site.compass.include_content %}
      <div class="content">
        {% include content.html %}
      </div>
      {% endif %}
    </main>
</div>
<div>
    <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dictum vestibulum mi, non pulvinar lectus facilisis a. Curabitur tortor nulla, consequat ac dignissim vitae, vehicula non justo. Fusce sollicitudin luctus leo non scelerisque. Aliquam sodales, dui eu interdum interdum, eros erat consectetur arcu, vitae luctus ligula lorem in velit. Aliquam erat volutpat. Maecenas eget neque malesuada diam rhoncus feugiat in tincidunt lacus. Suspendisse tincidunt vulputate ex dictum rhoncus. Quisque eget congue velit. Sed ac porta ante, vel tincidunt dui. Vivamus in nisi ipsum. Phasellus id tempus magna. Suspendisse consequat turpis quis ligula accumsan, vitae pellentesque ipsum volutpat. In hac habitasse platea dictumst. Aenean placerat orci a arcu pharetra, non porta nunc tincidunt. Integer et tortor lacinia, placerat arcu in, auctor dolor. Curabitur faucibus risus orci, quis posuere massa vestibulum id. 
    </p>
</div>
