<div>
<h2>Bookshelf</h2>
<p sytle="align:right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod ornare lacus et pellentesque. Pellentesque a tristique tortor. Etiam et lacinia orci, vitae pharetra velit. Aliquam lectus neque, fermentum eu venenatis porta, ornare a turpis. Quisque id ante laoreet, porta nibh luctus, sollicitudin ligula. Proin faucibus vulputate ligula sit amet tempor. Sed mollis bibendum diam, porta auctor urna. Praesent ullamcorper augue eu odio semper tempus. Sed nunc leo, porttitor eget mauris sed, dignissim sollicitudin nibh. In tristique urna nibh, at facilisis nunc faucibus id. </p>
<img src="../images/demon-reading-Stewart-Orr.svg" alt="Reading books" style="float:left;width:304px;height:228px;">
<ul>
<li>test</li>
</ul>
</div>
