<div class="single-item">
    <div>
        <h2>currently working on</h2>
        <p>
        <b>PickMeUp</b> A dynamic carpooling service run via telegram. Check it out <a href="http://pickmeup.trentino.it">here</a>.
        </p>
        <p>
        <b>Poseval</b> A web app for evaluating pos-tagger performances. Coming soon.
        </p>
    </div>
    <div>
        <h2>past projects</h2>
        <p>
        <b>D(h)ante</b> A resource for working on XIII century Italian language. Find more info <a href="https://anbasile.github.io/reveal_dante">here</a>.
        </p>
    </div>
    <div>
        <h2>from the blog</h2>
        <p>
        {% for post in site.posts limit:2%}
        <span>{{ post.date | date_to_string }}</span> <span>~</span> <a href="{{ post.url }}">{{ post.title }}</a><br />
        {% endfor %}
        </p>
        <p style="text-align:center">
        <i class="fa fa-hand-o-right"></i>
        Go to the <a href="http://anbasile.github.io/blog.html">blog</a>
        </p>
    </div>
</div>
