<h2>super short cv</h2>
<ul>
  <li>lang: it~en~de~ru~fr</li>
  <li>haskell programmer</li>
  <li>digital humanities~natural language processing</li>
</ul>

<p>Drop me an email to get the full cv.</p>

<hr />

<ul style="list-style-type:none">
  <li style="float:left">
    <a href="https://github.com/anbasile">
      <span class="fa fa-github fa-lg main-list-item-icon"></span>
      </a>
  </li>
  <li style="float:left">
    <a href="mailto:angelobasile@yandex.ru">
      <span class="fa fa-user fa-lg main-list-item-icon"></span>
      </a>
  </li>
</ul>
</div>
