<h2>Hi!</h2>
<p>I am Angelo and this is my personal page.</p>

<h2>short cv</h2>
<ul>
  <li><b>working on:</b>nlp/digital humanities/cultural history/machine learning/text mining</li>
  <li><b>artificial languages:</b> python/r/perl/html/css/xml/latex</li>
  <li><b>natural languages:</b> italian/english/german/french/russian</a></li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/anbasile">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="mailto:angelo.basile@alumni.unitn.it">Contact me</a>
  </li>
</ul>
