<h2>super short cv</h2>
<p>
  <b>background:</b>digital humanities~NLP~cultural history~ML<br/>
  <b>artificial languages:</b> python~haskell~html~css~xml~xslt~latex~git<br/>
  <b>natural languages:</b> italian~english~german~french~russian
</p>


<hr />
{% include carousel.html %}
<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/anbasile">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/angelo_basile">@angelo_basile</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:angelo.basile@alumni.unitn.it">Contact me</a>
  </li>
</ul>
