<ul>
  <h2>Latest articles</h2>
  <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu dolor non tellus feugiat lobortis et sit amet velit. Curabitur et commodo risus. Etiam mollis sapien in ante varius facilisis. Nulla fringilla libero ac sem convallis, at ultricies risus tempus. Donec luctus enim risus, in egestas nunc sollicitudin id. Quisque mollis, odio nec finibus volutpat, enim odio viverra orci, vel congue nibh diam ac massa. Donec magna nibh, congue eget interdum eu, gravida porta neque. Aliquam erat volutpat. 
    
  </p>
  <img src="../images/oldmanandbooks.png" style="float:right">
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
