<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="The personal home page of Angelo Basile.">
    <meta name="author" content="Angelo Basile">
    <link rel="icon" href="./favicon.ico">

    <title>Angelo Basile ~ My personal Home Page</title>

    <!-- Bootstrap core CSS -->
    <link href="./assets/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="./assets/style.css" rel="stylesheet">
    <!-- fontawesome, fonts and animatejs-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css">
    <link href="http://s.mlcdn.co/animate.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <div class="row">
	<div class="col-lg-12" style="text-align:center; padding-top: 10%">
        <header>
          <img class="animated bounceIn" src="./img/logo.svg" width="96" height="96" alt="logo">
          <h1>Blog</h1>
        </header>
	</div>
      </div> 

      <div class="row marketing" style="font-size: 1.3em;">
        <div class="col-lg-12">
          <div class="row">
	    <ul style="list-style-type:none">
	      <li><a href="./post.html"> >> asdkjflaskdjflaksfjalskdfjas</a><li>
	      <li><a href=""> >> asdkjflaskdjflaksfjalskdfjas</a><li>
	      <li><a href=""> >> asdkjflaskdjflaksfjalskdfjas</a><li>
	      <li><a href=""> >> asdkjflaskdjflaksfjalskdfjas</a><li>
	      <li><a href=""> >> asdkjflaskdjflaksfjalskdfjas</a><li>
	      <li><a href=""> >> asdkjflaskdjflaksfjalskdfjas</a><li>
	      <li><a href=""> >> asdkjflaskdjflaksfjalskdfjas</a><li>
	      <li><a href=""> >> asdkjflaskdjflaksfjalskdfjas</a><li>
	      <li><a href=""> >> asdkjflaskdjflaksfjalskdfjas</a><li>
	      <li><a href=""> >> asdkjflaskdjflaksfjalskdfjas</a><li>
	      <li><a href=""> >> asdkjflaskdjflaksfjalskdfjas</a><li>
	      <li><a href=""> >> asdkjflaskdjflaksfjalskdfjas</a><li>
	      <li><a href=""> >> asdkjflaskdjflaksfjalskdfjas</a><li>
		
	    </ul>
	  </div>  <!-- /row -->

	  <div class="row footer">
	    <p>back</p>
	    </div>
	  
	</div>  <!-- /col -->

    </div> <!-- /container -->

  </body>
</html>
