<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="The personal home page of Angelo Basile.">
    <meta name="author" content="Angelo Basile">
    <link rel="icon" href="./favicon.ico">

    <title>Angelo Basile ~ My personal Home Page</title>

    <!-- Bootstrap core CSS -->
    <link href="./assets/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="./assets/style.css" rel="stylesheet">
    <!-- fontawesome, fonts and animatejs-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css">
    <link href="http://s.mlcdn.co/animate.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <div class="row">
	<div class="col-lg-12" style="text-align:center; padding-top: 10%">
        <header>
          <img class="animated bounceIn" src="./img/logo.svg" width="64" height="64" alt="logo">
	  <h3>23 June 2016</h3>
          <h1>Long post title</h1>
        </header>
	</div>
      </div> 

      <div class="row marketing" style="font-size: 1.3em;">
        <div class="col-lg-12">
          <div class="row">
            <h3>paragraph</h3>
	    <p>
	      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus turpis massa, lacinia ac lacus sit amet, egestas congue augue. Fusce pulvinar semper dolor, ac lobortis erat. Vivamus semper turpis a consequat fermentum. Donec vitae aliquet ipsum. Etiam molestie gravida arcu non aliquet. Ut molestie nisi eu ante vulputate volutpat quis ac orci. Mauris ut lectus in nisl venenatis posuere. Suspendisse a nisl pellentesque, scelerisque augue at, commodo leo. Nullam quis massa in lorem vulputate luctus. Cras vel vehicula sem, eu fermentum arcu. Nulla rhoncus pretium tristique. Praesent congue congue magna, vitae interdum lectus blandit eget. Cras ornare metus id augue auctor, sed dapibus libero accumsan. Nam ut elit vel purus tincidunt scelerisque. Phasellus et faucibus eros, sed efficitur eros. Suspendisse nec nisl velit. 
	    </p>
	  </div>  <!-- /row -->

	  <div class="row footer">
	    <p>back</p>
	    </div>
	  
	</div>  <!-- /col -->

    </div> <!-- /container -->

  </body>
</html>
